                                 </div>
    </div>
<script type="text/javascript">
    var c = document.body.className;
    c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
    document.body.className = c;
</script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var wc_add_to_cart_params = {"ajax_url":"\/wp\/pulse\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/wp\/pulse\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"http:\/\/flatfull.com\/wp\/pulse\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
    /* ]]> */
    </script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=3.5.2'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var woocommerce_params = {"ajax_url":"\/wp\/pulse\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/wp\/pulse\/?wc-ajax=%%endpoint%%"};
    /* ]]> */
    </script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.5.2'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var wc_cart_fragments_params = {"ajax_url":"\/wp\/pulse\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/wp\/pulse\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_91682659bc844fd8bf534193c09a5389","fragment_name":"wc_fragments_91682659bc844fd8bf534193c09a5389"};
    /* ]]> */
    </script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.5.2'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-includes/js/comment-reply.min.js?ver=5.1.4'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/themes/pulsetheme/assets/js/libs/tether/dist/js/tether.min.js?ver=5.1.4'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/themes/pulsetheme/assets/js/libs/bootstrap/dist/js/bootstrap.js?ver=5.1.4'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/themes/pulsetheme/assets/js/libs/mep/mep.js?ver=5.1.4'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var mep = {"l10n":{"nextTrack":"Next Track","previousTrack":"Previous Track","togglePlaylist":"Toggle Playlist","repeat":"Repeat","shuffle":"Shuffle","error":"Oh snap, there was a playback error!"},"mepPlaylistTracks":[{"id":"57","title":"Hidden","src":"https:\/\/audio-ssl.itunes.apple.com\/apple-assets-us-std-000001\/AudioPreview128\/v4\/26\/d1\/f1\/26d1f10f-723e-66c9-4355-9575f40bc85b\/mzaf_5907372873406991062.plus.aac.p.m4a","link":"http:\/\/flatfull.com\/wp\/pulse\/track\/hidden\/","thumb":{"src":"http:\/\/flatfull.com\/wp\/pulse\/wp-content\/uploads\/2017\/01\/b6-300x300.jpg"},"meta":{"author":"Miaow","authorlink":"http:\/\/flatfull.com\/wp\/pulse\/user\/miaow\/","duration":"245000"}}],"AD":[],"ADTimes":null};
    /* ]]> */
    </script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/themes/pulsetheme/assets/js/player.js?ver=5.1.4'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/themes/pulsetheme/assets/js/libs/owl.carousel/dist/owl.carousel.min.js?ver=5.1.4'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/themes/pulsetheme/assets/js/libs/jscroll/jquery.jscroll.min.js?ver=5.1.4'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/themes/pulsetheme/assets/js/config.js?ver=5.1.4'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/themes/pulsetheme/assets/js/ui-nav.js?ver=5.1.4'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/themes/pulsetheme/assets/js/ui-device.js?ver=5.1.4'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/themes/pulsetheme/assets/js/ui-screenfull.js?ver=5.1.4'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/themes/pulsetheme/assets/js/ui-toggle-class.js?ver=5.1.4'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/themes/pulsetheme/assets/js/ui-jp.js?ver=5.1.4'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/themes/pulsetheme/assets/js/share.js?ver=5.1.4'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/themes/pulsetheme/assets/js/likes.js?ver=5.1.4'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/themes/pulsetheme/assets/js/follow.js?ver=5.1.4'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/themes/pulsetheme/assets/js/search.js?ver=5.1.4'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var ajax = {"ajax_url":"http:\/\/flatfull.com\/wp\/pulse\/wp-admin\/admin-ajax.php","login_url":"http:\/\/flatfull.com\/wp\/pulse\/account\/","nonce":"ea6a4e8201","soundcloud_clientID":"95f22ed54a5c297b1c41f72d713623ef"};
    /* ]]> */
    </script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/themes/pulsetheme/assets/js/ajax.js?ver=5.1.4'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-content/themes/pulsetheme/assets/js/comment.js?ver=5.1.4'></script>
    <script type='text/javascript' src='http://flatfull.com/wp/pulse/wp-includes/js/wp-embed.min.js?ver=5.1.4'></script>
</body>
</html>
<script>
var lecteurAudio;
var playbtn;
var running = false;
lecteurAudio = document.getElementById('music_player');
lecteurAudio.controls = false;

function startplayer() 
{
    let bouton = document.getElementById('icon-img')
    if(!running){
        lecteurAudio.play();
        bouton.classList.remove("fa-play");
        bouton.classList.add("fa-pause");
    }else{
        lecteurAudio.pause();
        bouton.classList.remove("fa-pause");
        bouton.classList.add("fa-play");
    }
    running = !running;
}

                        

(function() {
    let lecteurSection =  getCtrlByClass('playlist');
    lecteurSection.setAttribute("style","padding:0px; background:black")
    let interieur ="<div class='row'>"
    interieur +="<div class='col-xs-2'>"
    interieur += '<center><img src="images/wave.gif" style="width:60px; height:60px;"></center>';
    interieur +="</div>"
    interieur +="<div class='col-xs-8'> <center>"
    interieur += '<br><marquee>Vous êtes sur LEGIBENIN RADIO, La premiere webradio du droit au Bénin! LEGIBENIN RADIO, la radio du droit, la radio de vos droits...</marquee>';
    interieur +="</center>"
    interieur +="</div>"
    interieur +="<div class='col-xs-2' style='padding:10px;'>"
    interieur += '<center> <div id="playbtn" onclick="startplayer()" style="cursor:pointer; color:white; background-color:#3a8753; height:40px; border-radius:40px; padding:10px; padding-left:14px; width:40px;"> <span id="icon-img" class="fa fa-play"></span> </center></div>';
    interieur +="<div>"
    interieur +="</div>"
    lecteurSection.innerHTML =  interieur;
    playbtn =  document.getElementById("playbtn");
    //changeContent('','/emission?=4');

    swal({
        title: "LEGIBENIN Radio",
        text: "Voulez-vous lancer le live ?",
        icon: "warning",
        buttons: true,
        dangerMode: false,
    })
    .then((willDelete) => {
        if (willDelete) {
        startplayer();
        } 
    });
})();

function reload(fichier){
    swal({
        text: "Voulez-vous reécouter ce contenu?",
        icon: "warning",
        buttons: true,
        dangerMode: false,
    })
    .then((willDelete) => {
        if (willDelete) {
            fichier =  "programmes/"+fichier;
            lecteurAudio.pause();
            running = false;
            document.getElementById('lasource').setAttribute('src',fichier);
            lecteurAudio.load();
            startplayer();
        } 
    });
}

function getCtrlByClass(name){
    var elements = document.getElementsByClassName(name);
    return elements[0];
}




function changeContent(link, url){
    let inner = document.getElementById('app-component');
    $('#app-component').hide();
    $.get(url, function(data, status){
        inner.innerHTML  = data;
        $('#app-component').show(1000);
    });
}

</script>


