<div class="app-footer app-player hide grey bg">
    <div class="playlist" style="width:100%"></div>
    <audio id="music_player"><source id="lasource" src="https://www.radioking.com/play/legibenin-1"/></audio>
</div>