<div class="row no-gutter item-info-overlay">
                        <div class="col-sm-6">
                            <div id="post_widget-1" class="widget-2 widget-even widget-alt widget widget_post_widget">
                                <div class="row item-grid owl-dots-sm owl-dots-top-right item-slider owl-carousel owl-theme m-a-0" data-ui-jp="owlCarousel" data-ui-options="{items: 1,loop: true,autoplay: true,nav: true,animateOut: 'fadeOut'}">
                                    <div class="">
                                        <div class="item r " data-id="70">
                                            <div class="item-media ">
                                                <a href="http://flatfull.com/wp/pulse/music/radio-station/" class="item-media-content" style="background-image: url(http://flatfull.com/wp/pulse/wp-content/uploads/2017/01/b3.jpg);"></a>
                                                <div class="item-overlay center">
                                                    <button  class="btn-playpause">Play</button>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-overlay bottom text-right">
                                                    <a class="btn-like " data-site-id="1" data-post-id="70" data-count="38">
                                                        <span class="">
                                                            <i class="fa fa-heart-o"></i>
                                                            <i class="active fa fa-heart text-primary"></i>
                                                        </span>
                                                    </a>
                                                    <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                                    <div class="dropdown-menu pull-right l-h grey lt"></div>
                                                </div>
                                                <div class="item-title text-ellipsis">
                                                    <a href="http://flatfull.com/wp/pulse/music/radio-station/">Radio station</a>
                                                </div>
                                                <div class="item-author text-sm text-ellipsis text-muted">
                                                    <a href="http://flatfull.com/wp/pulse/user/admin/" title="Posts by Pablo Nouvelle" rel="author">Pablo Nouvelle</a>                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="">
                                            <div class="item r " data-id="34">
                                                <div class="item-media ">
                                                    <a href="http://flatfull.com/wp/pulse/music/miaow-collections/" class="item-media-content" style="background-image: url(http://flatfull.com/wp/pulse/wp-content/uploads/2017/01/c2-1024x682.jpg);"></a>
                                                    <div class="item-overlay center">
                                                        <button  class="btn-playpause">Play</button>
                                                    </div>
                                                </div>
                                                <div class="item-info">
                                                    <div class="item-overlay bottom text-right">
                                                        <a class="btn-like " data-site-id="1" data-post-id="34" data-count="50">
                                                            <span class="">
                                                                <i class="fa fa-heart-o"></i>
                                                                <i class="active fa fa-heart text-primary"></i>
                                                            </span>
                                                        </a>
                                                        <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                                        <div class="dropdown-menu pull-right l-h grey lt"></div>
                                                    </div>
                                                <div class="item-title text-ellipsis">
                                                    <a href="http://flatfull.com/wp/pulse/music/miaow-collections/">Miaow collections</a>
                                                </div>
                                                <div class="item-author text-sm text-ellipsis text-muted">
                                                    <a href="http://flatfull.com/wp/pulse/user/miaow/" title="Posts by Miaow" rel="author">Miaow</a>                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col-sm-6">
                            <div id="post_widget-2" class="widget-4 widget-even widget-alt widget widget_post_widget">
                                <div class="row item-grid ">
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="item r item-track" data-id="59">
                                            <div class="item-media item-media-1by2">
                                                <a href="http://flatfull.com/wp/pulse/track/lentement/" class="item-media-content" style="background-image: url(http://flatfull.com/wp/pulse/wp-content/uploads/2017/01/b11-334x500.jpg);"></a>
                                                <div class="item-overlay center">
                                                    <button  class="btn-playpause">Play</button>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-overlay bottom text-right">
                                                    <a class="btn-like " data-site-id="1" data-post-id="59" data-count="52">
                                                        <span class="">
                                                            <i class="fa fa-heart-o"></i>
                                                            <i class="active fa fa-heart text-primary"></i>
                                                        </span>
                                                    </a>
                                                    <a href="#" class="btn-more" data-toggle="dropdown">
                                                        <i class="fa fa-ellipsis-h"></i>
                                                    </a>
                                                    <div class="dropdown-menu pull-right l-h grey lt"></div>
                                                </div>
                                                <div class="item-title text-ellipsis">
                                                    <a href="http://flatfull.com/wp/pulse/track/lentement/">Lentement</a>
                                                </div>
                                                <div class="item-author text-sm text-ellipsis text-muted">
                                                    <a href="http://flatfull.com/wp/pulse/user/miaow/" title="Posts by Miaow" rel="author">Miaow</a>                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="item r item-track" data-id="61">
                                            <div class="item-media item-media-1by2">
                                                <a href="http://flatfull.com/wp/pulse/track/the-separation/" class="item-media-content" style="background-image: url(http://flatfull.com/wp/pulse/wp-content/uploads/2017/01/b1-500x333.jpg);"></a>
                                                <div class="item-overlay center">
                                                    <button  class="btn-playpause">Play</button>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-overlay bottom text-right">
                                                    <a class="btn-like " data-site-id="1" data-post-id="61" data-count="21">
                                                        <span class="">
                                                            <i class="fa fa-heart-o"></i>
                                                            <i class="active fa fa-heart text-primary"></i>
                                                        </span>
                                                    </a>
                                                    <a href="#" class="btn-more" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                                    <div class="dropdown-menu pull-right l-h grey lt"></div>
                                                </div>
                                                <div class="item-title text-ellipsis">
                                                    <a href="http://flatfull.com/wp/pulse/track/the-separation/">The Separation</a>
                                                </div>
                                                <div class="item-author text-sm text-ellipsis text-muted">
                                                    <a href="http://flatfull.com/wp/pulse/user/rachel_platten/" title="Posts by Rachel Platten" rel="author">Rachel Platten</a>                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>